{% extends "fizzbuzz/base.html" %}
{% load fizzbuzz_extras %}

{% block nav_menu %}
    <li><a href="{% url "list_all" %}">List all</a></li>
{% endblock %}
{% block main_content %}

<div class="panel panel-default">
  {% block panel_name %}
  <div class="panel-heading">Editing user</div>
  {% endblock %}
      <div class="panel-body">

          <form id="loginform" class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                <label for="{{ field.id_for_label}}" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-5">
                    {{ field|addcss:"form-control" }}
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-offset-2 col-sm-3">
                <button type="submit" class="btn btn-primary btn-wide btn-xs-block">Update</button>
            </div>
        </form>
      </div>
  </div>

{% endblock %}