{% extends "fizzbuzz/base.html" %}
{% load fizzbuzz_extras %}

{% block main_content %}
    <div class="panel panel-default">
        <div class="near-table panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th data-field="username">Username</th>
                        <th data-field="birthday">Birthday</th>
                        <th data-field="eligible">Eligible</th>
                        <th data-field="random">Random Number</th>
                        <th data-field="bizzfuzz">BizzFuzz</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    {% for user in all_users %}
                    <tr>
                        <td><a href="{% url "view_user" user.id %}">{{ user.username }}</a></td>
                        <td>{{ user.birthday }}</td>
                        <td>{% is_eligible user.birthday %}</td>
                        <td>{{ user.random_number }}</td>
                        <td>{% fizzbuzz user.random_number %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary btn-wide btn-xs-block"
        href="{% url "csv_list" %}"> CSV
    </a>
{#    <button class="">CSV</button>#}
{% endblock %}