{% extends "fizzbuzz/base.html" %}
{% load fizzbuzz_extras %}


{% block nav_menu %}
    <li><a href="{% url "remove_user" user.id %}">Remove User</a></li>
    <li><a href="{% url "edit_user" user.id %}">Edit User</a></li>
    <li><a href="{% url "list_all" %}">List all</a></li>
{% endblock %}

{% block main_content %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Information on user {{ user.username }}</div>
{#  <div class="panel-body">#}
{#    <p></p>#}
{#  </div>#}

  <!-- Table -->
  <table class="table table-hover">
            <thead>
                <tr>
                    <th data-field="username">Username</th>
                    <th data-field="birthday">Birthday</th>
                    <th data-field="eligible">Eligible</th>
                    <th data-field="random">Random Number</th>
                    <th data-field="bizzfuzz">BizzFuzz</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.birthday }}</td>
                    <td>{% is_eligible user.birthday %}</td>
                    <td>{{ user.random_number }}</td>
                    <td>{% fizzbuzz user.random_number %}</td>
                </tr>
            </tbody>
        </table>
</div>
{% endblock %}

